body {
  background: #56CCF2;
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
  background: linear-gradient(to right, #2F80ED, #56CCF2);
}
.contenido {
  margin-top: 40px;
}
h1 {
  color: white;
  text-align: center;
  font-size: 34px;
}

form {
  background-color: white;
  padding: 50px;
}

.list {
  list-style: none;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #56CCF2;
  background: rgb(219, 246, 255);
}
.list li:last-child{
  margin:0;
}
